
body{
  font-family: Arial, sans-serif;
}
nav{
background-color: bisque;
padding: 10px;
  
}
nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
nav ul li{
  margin: 0 15px;
}
nav ul li a{
  text-decoration: none;
  color: blue;
}

.box-1{
  display: flex;
  
  border: 3px solid black;
  margin: 10px;
  width: 600px;
  justify-content: center;
}
.box-2{
  display: flex;
  
  border: 3px solid black;
  margin: 10px;
  width: 600px;
  justify-content: center;
}
.box-3{
  display: flex;
  
  border: 3px solid black;
  margin: 10px;
  width: 600px;
  justify-content: center;
}
