
body{
  font-family: Arial, sans-serif;
}
nav{
background-color: bisque;
padding: 10px;
  
}
nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
nav ul li{
  margin: 0 15px;
}
nav ul li a{
  text-decoration: none;
  color: blue;
}

.box-1{
  display: flex;
  
  border: 3px solid black;
  margin: 10px;
  width: 600px;
  justify-content: center;
}
.box-2{
  display: flex;
  
  border: 3px solid black;
  margin: 10px;
  width: 600px;
  justify-content: center;
}
.box-3{
  display: flex;
  
  border: 3px solid black;
  margin: 10px;
  width: 600px;
  justify-content: center;
}


*{
  background-color: bisque;
}

.projects-table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.projects-table th {
  background: #333;
  color: white;
  padding: 12px;
  font-size: 18px;
}

.projects-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.projects-table tr:hover {
  background: #f4f4f4;
  transition: 0.3s;
}
.container{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 150px;
  height: 150px;
}